<!-- Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Flash message -->
<%- messages() %>

<!-- Display registration errors -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- Display body -->
<div><a href="/reviews/add-review">Write a review</a></div>
<h2>Reviews</h2>
<p>Select a vehicle to see reviews for that vehicle</p>
<%- inventorySelect %>
<div id="reviewsDisplay"></div>
<noscript>JavaScript must be enabled to use this page.</noscript>


<script src="../../js/reviews.js"></script>